name: MauiPersianToolkit CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Install MAUI workloads
      shell: pwsh
      run: dotnet workload install maui

    - name: Restore dependencies
      run: dotnet restore

    - name: Build Library
      run: dotnet build ./MauiPersianToolkit/MauiPersianToolkit.csproj -c Debug --no-restore -f net8.0

    - name: Build Sample App
      run: dotnet build ./PersianUISamples/PersianUISamples.csproj -c Debug --no-restore -f net8.0-windows10.0.19041.0
