name: Publish to NuGet

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
        
    - name: Install MAUI workloads
      shell: pwsh
      run: dotnet workload install maui

    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Extract version from tag
      id: extract_version
      run: |
        $version = "${{ github.ref }}" -replace 'refs/tags/v', ''
        echo "VERSION=$version" >> $env:GITHUB_ENV
        
    - name: Pack
      run: dotnet pack ./MauiPersianToolkit/MauiPersianToolkit.csproj --configuration Release --no-build --output ./nupkgs /p:PackageVersion=${{ env.VERSION }}

    - name: List packed packages
      run: dir .\nupkgs

    - name: Publish to NuGet
      shell: pwsh
      run: |
        $nupkgPath = ".\nupkgs\MauiPersianToolkit.${{ env.VERSION }}.nupkg"
        dotnet nuget push $nupkgPath --api-key $env:NUGET_API_KEY --source $env:NUGET_SOURCE
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_PERSIAN_API_KEY }}
        NUGET_SOURCE: https://api.nuget.org/v3/index.json
